/* starl-banner-sec Start */
.starl-banner-sec{
    padding: 0 !important;
    position: relative;
}

.starl-banner-inner{
    position: relative;
}

.starl-banner-img{
    position: relative;
    overflow: hidden;
    padding-top: 43.35%;
}

.starl-banner-img:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.4%, rgba(255, 255, 255, 0.62) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.starl-banner-img > img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
}

.starl-banner-info h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #FFFFFF;
    padding-bottom: 90px;
}

.starl-banner-info h1 sub{
    font-size: 32px;
}

.starl-banner-info {
    position: absolute;
    z-index: 1;
    bottom: 110px;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.starl-banner-info p{
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 0;
    line-height: normal;
}

/* upcoming-collections-sec Start */
.upcoming-collections-box{
    padding-bottom: 60px;
}

.upcoming-collections-box:last-child{
    padding-bottom: 0;
}

.upcoming-collections-img {
    position: relative;
    padding-top: 30.8%;
    overflow: hidden;
    border-radius: 20px;
}

.upcoming-collections-logo > *{
    font-size: 24px;
    color: #6300FF;
    font-weight: bold;
}

.upcoming-collections-img > img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: top center;
    height: 100%;
    width: 100%;
}

.upcoming-collections-info-box{
    background: var(--bg-card);
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    box-shadow: 0px 25px 60px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 12px 20px;
    max-width: 446px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: -70px;
    z-index: 1;
    position: relative;
}

.upcoming-collections-logo{
    max-width: 223px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.upcoming-collections-info-box > p{
    font-size: 12px;
    color: var(--black-text);
}

.upcoming-collections-time > span{
    font-size: 12px;
    text-align: center;    
    color: var(--black-text);
    font-weight: bold;
    display: block;
}

.upcoming-soon-collections-count-list {
    list-style: none;
    margin: 0;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.upcoming-soon-collections-count-list li {
    font-size: 18px;
    color: var(--black-text);
    font-weight: bold;
    line-height: normal;
    border-right: 2px solid var(--bordercolor);
    padding-right: 24px;
    margin-right: 24px;
    text-align: left;
}

.upcoming-soon-collections-count-list li span {
    font-size: 10px;
    color: var(--black-text);
    font-weight: normal;
    display: block;
}

.upcoming-soon-collections-count-list li:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

.add-to-calendar-btn{
    font-size: 12px;
    color: #6300FF;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
.add-to-calendar-btn:hover{
    color: #6300FF;
}

@media (max-width: 1500px) {
    .sec-title {
        margin-bottom: 30px !important;
        font-size: 28px;
    }

    .text {
        font-size: 16px;
    }

    .starl-banner-info h1 {
        font-size: 60px;
        padding-bottom: 50px;
    }

    .starl-banner-info p {
        font-size: 26px;
    }
}

@media (max-width: 1200px) {

    .starl-banner-info h1 {
        font-size: 40px;
        padding-bottom: 30px;
    }

    .starl-banner-info {
        bottom: 20px;
    }

    .starl-banner-info p {
        font-size: 20px;
    }
}   

@media (max-width: 767px) {
    .starl-banner-img {
        position: relative;
        overflow: hidden;
        padding-top: 118.85%;
    }

    .starl-banner-info .new-header-right-btn{
        display: block;
        padding-top: 20px;
    }

    .starl-banner-info .new-header-right-btn .btn{
        height: auto !important;
        margin: 0 5px !important;
    }

    .starl-banner-info .new-header-right-btn .btn a{
        margin: 0;
    }

    .new-header-right-btn {
        display: none;
    }

    .upcoming-collections-img {
        padding-top: 60.5%;
    }

    .upcoming-collections-logo {
        max-width: 159px;
    }

    .upcoming-collections-info-box {
        border-radius: 10px;
        padding: 12px 10px;
        max-width: 319px;
        margin-top: -50px;
    }

    .upcoming-collections-time > span {
        font-size: 10px;
    }

    .upcoming-collections-info-box > p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .upcoming-soon-collections-count-list li {
        font-size: 14px;
        border-right: 1px solid #000000;
        padding-right: 15px;
        margin-right: 15px;
    }

    .add-to-calendar-btn {
        font-size: 10px;
        margin-top: 10px;
    }
}


